// ============================================================================================= //
//                                            MIXINS                                             //
// ============================================================================================= //

@use "sass:list";
@use "sass:selector";
@use "@unsass/string";
@use "@unsass/types" as type;
@use "./functions";

///
/// @example - scss
///   @include selector.create("foo") {
///     color: darkcyan;
///   }
///
/// @example - css
///   .foo {
///     color: darkcyan;
///   }
///
/// @example - scss
///   @include selector.create("foo", "md") {
///     color: darkcyan;
///   }
///
/// @example - css
///   .md:foo {
///     color: darkcyan;
///   }
///
/// @example - scss
///   @include selector.create("foo", $pseudo-class: "hover") {
///     color: darkcyan;
///   }
///
/// @example - css
///   .foo:hover {
///     color: darkcyan;
///   }
///
/// @example - scss
///   @include selector.create("foo", $pseudo-element: "before") {
///     color: darkcyan;
///   }
///
/// @example - css
///   .foo::before {
///     color: darkcyan;
///   }
///
/// @param {string} $selector - Selector name.
/// @param {string, list} $scope - Selector affix value.
/// @param {string} $separator - Selector affix separator.
/// @param {string} $pseudo-class - Selector pseudo-class.
/// @param {string} $pseudo-element - Selector pseudo-element.
/// @param {boolean} $suffix - Use suffix instead of prefix.
///
/// @see {function} functions.pseudo-class
/// @see {function} functions.pseudo-element
///
/// @access public
///
@mixin create($selector, $scope: null, $separator: ":", $suffix: false, $pseudo-class: null, $pseudo-element: null, $root: false) {
    @if $pseudo-class and $suffix {
        @error "You cannot add a suffix with a selector that already has a pseudo-class.";
    } @else if $pseudo-element and $suffix {
        @error "You cannot add a suffix with a selector that already has a pseudo-element.";
    }

    $selector: if(type.is-list($selector), "#{list.nth($selector, 1)}", $selector);
    $class-selector: string.slice($selector, 1, 1) == ".";

    @if $class-selector {
        $selector: string.slice($selector, 2);
    }

    ///
    /// Set pseudo-{classes, elements}.
    ///

    @if $pseudo-class {
        $selector: functions.pseudo-class($selector, $pseudo-class);
    } @else if $pseudo-element {
        $selector: functions.pseudo-element($selector, $pseudo-element);
    }

    ///
    /// Set scope.
    ///

    @if $scope and not $suffix {
        $class: "";

        @if type.is-list($scope) {
            @each $key in $scope {
                @if type.is-number(string.to-number(string.slice($key, 1, $end-at: 1))) {
                    $key: string.replace(\3 #{string.unquote($key)}, " ");
                }

                $class: $class + "#{$key}\\#{$separator}";
            }
        } @else {
            @if type.is-number(string.to-number(string.slice($scope, 1, $end-at: 1))) {
                $scope: string.replace(\3 #{string.unquote($scope)}, " ");
            }

            $class: "#{$scope}\\#{$separator}";
        }

        $selector: selector.append($class, $selector);
    }

    @if $scope and $suffix {
        $class: "";

        @if type.is-list($scope) {
            @each $key in $scope {
                $class: $class + "\\#{$separator}#{$key}";
            }
        } @else {
            $class: "\\#{$separator}#{$scope}";
        }

        $selector: selector.append($selector, $class);
    }

    ///
    /// Set selector.
    ///

    $selector: functions.to-class($selector);

    @if $root {
        @at-root #{$selector} {
            @content;
        }
    } @else {
        #{$selector} {
            @content;
        }
    }
}

///
/// @example - scss
///   .foo {
///     @include selector.media("screen") {
///       color: darkcyan;
///     }
///   }
///
/// @example - css
///   @media screen {
///     .foo {
///       color: darkcyan;
///     }
///   }
///
/// @access public
///
@mixin media($args) {
    @media #{$args} {
        @content;
    }
}

