// ============================================================================================= //
//                                            MIXINS                                             //
// ============================================================================================= //

@use "sass:map";
@use "sass:meta";
@use "sass:list";
@use "sass:string";
@use "@unsass/breakpoint";
@use "@unsass/css";
@use "./variables";

@mixin variant($variants...) {
    @content;

    @if & {
        $selector-name: string.slice("#{list.nth(&, 1)}", 2);

        @each $variant in $variants {
            @if $variant == "hover" {
                @include root-selector(
                    $name: $selector-name,
                    $scope: $variant,
                    $pseudo-class: $variant
                ) {
                    @content;
                }
            }

            @if $variant == "focus" {
                @include root-selector(
                    $name: $selector-name,
                    $scope: $variant,
                    $pseudo-class: $variant
                ) {
                    @content;
                }
            }

            @if $variant == "active" {
                @include root-selector(
                    $name: $selector-name,
                    $scope: $variant,
                    $pseudo-class: $variant
                ) {
                    @content;
                }
            }

            @if $variant == "responsive" {
                @each $key, $value in breakpoint.get-screens() {
                    @include root-selector(
                        $name: $selector-name,
                        $scope: $key
                    ) {
                        @include breakpoint.up($key) {
                            @content;
                        }
                    }
                }
            }
        }
    } @else {
        //@each $variant in $variants {
        //    @if $variant == "hover" {
        //        //.hover {
        //        //    @content($variant);
        //        //}
        //
        //        @at-root {
        //            @include mixins.set-selector("foo2", $pseudo-class: "hover") {
        //                @content;
        //            }
        //        }
        //    }
        //
        //    //@if $variant == "focus" {
        //    //    .focus {
        //    //        @content($variant);
        //    //    }
        //    //}
        //}
    }

    //@include render-variant($variants) using($props...) {
    //    @content($props...);
    //}
}

@mixin render-variant($variants: ()) {
    @if & {
        @content;

        @each $variant in $variants {
            @if $variant == "hover" {
                &:hover {
                    @content($variant);
                }
            }

            @if $variant == "focus" {
                &:focus {
                    @content($variant);
                }
            }
        }
    } @else {
        @content;

        @each $variant in $variants {
            @if $variant == "hover" {
                @content($variant);
            }
        }
    }
}

@mixin root-selector($args...) {
    @at-root {
        @include css.set-selector(map.get(meta.keywords($args), "name"), map.get(meta.keywords($args), "scope"), $pseudo-class: map.get(meta.keywords($args), "pseudo-class")) {
            @content;
        }
    }
}

///
/// Configure.
///
@mixin configure($screens: (), $screens-reset: false) {
    @if $screens {
        variables.$screens: $screens;
    }

    @if $screens-reset {
        variables.$screens-reset: $screens-reset;
    }
}
